/*
Made by jinxz#0001 on discord
:)
                                                                                           
*/

:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #bb86fc;
  --darkplus-links: #cdaef3;
  --darkplus-home-icon:   url(https://cdn.discordapp.com/attachments/468141324906921984/852117175212179466/discord-avatar-512-YV0PV.png)
}

.bg-h5JY_x,
.container-16j22k {
  background-color: var(--darkplus-bg);
}
.bg-h5JY_x {
  background-color: var(--darkplus-bg);
}
.scrollerInner-2YIMLh {
  background-color: var(--darkplus-bg);
}
.container-1r6BKw.themed-ANHk51 {
  background: var(--darkplus-bg);
}
.content-3YMskv {
  background-color: var(--darkplus-bg);
}

.searchBar-6Kv8R2 {
  background-color: var(--darkplus-bg);
}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
  background-color: var(--darkplus-bg2);
  border-radius: 20px;
}
.scroller-1JbKMe.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
  background-color: var(--darkplus-bg);
}
.panel-24C3ux.activityPanel-28dQGo {
  background-color: var(--darkplus-bg);
}
.container-3baos1 {
  background-color: var(--darkplus-bg);
}
.form-2fGMdU {
  background-color: var(--darkplus-bg);
}
.form-2fGMdU .channelTextArea-rNsIhG .textArea-12jD-V .placeholder-37qJjk {
  color: var(--darkplus-sec);
}
.form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-2NUZem {
  max-height: 45vh;
  background-color: var(--darkplus-bg2);
  border-radius: 22px;
}
.form-2fGMdU .channelTextArea-rNsIhG {
  background-color: transparent;
}
.form-2fGMdU:before {
  display: none;
}
.scroller-2LSbBU {
  background-color: var(--darkplus-bg);
}
.peopleList-3c4jOR.auto-Ge5KZx.scrollerBase-289Jih {
  background-color: var(--darkplus-bg);
}
.children-19S4PO:after {
  display: none;
}
.nowPlayingSidebar-2OFn0o {
  min-width: 300px;
  max-width: 300px;
}
.customStatusActivity-nmH3DF {
  background-color: var(--darkplus-bg);
}
.nameTagWithCustomStatus-2kkfrQ.nameTag-ECvD8P.nameTag-m8r81H {
  background-color: var(--darkplus-bg);
}

.topSection-y3p-_D {
  background-color: var(--darkplus-bg);
}
.container-lRFx4q {
  background-color: var(--darkplus-bg);
}
.container-lRFx4q .scroller-2ZPeAD {
  margin-left: 0;
  border-left: none;
}

.wrapper-3D2qGf {
  background-color: var(--darkplus-sec);
  border: none;
}
.wrapper-3D2qGf:hover,
.wrapper-3D2qGf.active-1xchHY {
  background-color: var(--darkplus-links) !important;
}
.wrapper-3D2qGf .inset-3sAvek {
  background-color: var(--darkplus-bg);
}
.wrapper-3D2qGf .section-2gLsgF {
  background-color: var(--darkplus-links);
}
.header-2V-4Sw {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.mention-1f5kbO {
  background-color: var(--darkplus-sec);
}
.mentioned-xhSam7 {
  background-color: rgba(var(--darkplus-sec), 0.1) !important;
}
.mentioned-xhSam7:before {
  background-color: var(--darkplus-sec);
}
.mentioned-xhSam7:hover {
  background-color: rgba(var(--darkplus-sec), 0.2) !important;
}

.iconBadge-qZ4Ksk {
  background-color: var(--darkplus-sec);
}
.container-3baos1 .button-14-BFJ:nth-child(1) .contents-18-Yxp path {
  fill: var(--darkplus-sec);
}

.container-3baos1 .button-14-BFJ:nth-child(2) .contents-18-Yxp path {
  fill: var(--darkplus-sec);
}

.container-3baos1 .button-14-BFJ:nth-child(3) .contents-18-Yxp path {
  fill: var(--darkplus-sec);
}

.container-3baos1 .button-14-BFJ:nth-child(4) .contents-18-Yxp path {
  fill: var(--darkplus-sec);
}
.sprite-2iCowe {
  filter: hue-rotate(210deg) !important;
}
.attachButton-2WznTc .contents-18-Yxp path {
  fill: var(--darkplus-sec);
}
.attachButton-2WznTc:hover .attachButtonPlus-jWVFah {
  fill: var(--darkplus-links);
}
.button-38aScr .contents-18-Yxp path {
  color: var(--darkplus-sec);
}

.button-1ZiXG9 path {
  fill: var(--darkplus-sec);
}

.item-1tOPte path {
  fill: var(--darkplus-sec);
}

.iconWrapper-2OrFZ1 path {
  color: var(--darkplus-sec);
}

.linkButtonIcon-Mlm5d6 path {
  color: var(--darkplus-sec);
}

.actionButton-uPB8Fs path {
  color: var(--darkplus-sec);
}
.buttonIcon-Od8mYw path {
  fill: var(--darkplus-sec);
}

.icon-3cZ1F_ path {
  fill: var(--darkplus-sec);
}

.actionIcon-PgcMM2 path {
  fill: var(--darkplus-sec);
}
.wrapper-2jXpOf.modeUnread-1qO3K1
  .content-1x5b-n
  .mainContent-u_9PKf
  .icon-1DeIlz {
  color: var(--darkplus-links);
}
.wrapper-2jXpOf .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz {
  color: var(--darkplus-sec);
}

.wrapper-2jXpOf.modeUnread-1qO3K1
  .content-1x5b-n
  .mainContent-u_9PKf
  .channelName-2YrOjO {
    color: var(--darkplus-links);
}

.metadataIcon-2FyCKU path {
  fill: var(--darkplus-sec);
}

.controlIcon-3cRbti path {
  color: var(--darkplus-sec);
}

.data-slate-string path {
  color: var(--darkplus-sec);
}
.winButton-iRh8-Z {
  color: var(--darkplus-sec);
}
.VoiceChatNotifications-button-icon {
  color: var(--darkplus-sec);
}
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
  background: var(--darkplus-sec);
  color: var(--darkplus-bg);
}
.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb),
.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb) {
  background: var(--darkplus-sec);
  color: var(--darkplus-bg);
}
.progressBar-3u8FBM,
.mediaBarWrapper-3D7r67 .mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl::after,
.mediaBarProgress-1xaPtl::before {
  background-color: var(--darkplus-sec);
}
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
  background-color: var(--darkplus-links);
}
.stageSection-3mAD8V {
  background-color: var(--darkplus-bg);
}

.featuredTag-3pT1Rf {
  background-color: var(--darkplus-bg2);
}
.colorHeaderPrimary-26Jzh- {
  color: var(--darkplus-sec);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.scroller-1IIF0A {
  background-color: var(--darkplus-bg);
}
.header-39GIC8 {
  background-color: var(--darkplus-bg);
  border-bottom: none;
}
.headerCellContent-1pLtOr {
  color: var(--darkplus-sec);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.theme-dark .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover,
.theme-light .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg2);
}
.nameCellText-1mpqtF {
  color: var(--darkplus-sec);
}
.scroller-2XE8rp {
  background-color: var(--darkplus-bg);
}
.anchor-3Z-8Bb {
  color: var(--darkplus-sec);
}
.icon-3cZ1F_ {
  height: 24px;
  width: 24px;
  color: var(--darkplus-sec);
}
.iconContainer-O4O2CN {
  bottom: 5px;
}
.search-36MZv- {
  margin-left: 0px;
}

.search-36MZv- {
  order: -1;
}
.searchBar-3dMhjb {
  width: 28px;
  transition: width 0.5s ease-in-out;
}
.focused-31_ccS .searchBar-3dMhjb,
.open-6_Y_aH .searchBar-3dMhjb,
.searchBar-3dMhjb:hover {
  width: 150px;
}
.downloadButton-23tKQp {
  color: var(--darkplus-sec);
}
.downloadButton-23tKQp:hover {
  color: var(--darkplus-links);
}
.name-uJV0GL {
  color: var(--darkplus-sec);
}
.title-29uC1r {
  color: var(--darkplus-sec);
}
.children-gzQq2t {
  color: var(--darkplus-sec);
}
.headerText-2F0828 {
  color: var(--darkplus-sec);
}
.clickable-3rdHwn .icon-22AiRD {
  color: var(--darkplus-sec);
}
.clickable-3rdHwn:hover .icon-22AiRD {
  color: var(--darkplus-links);
}
.item-3HknzM.item-PXvHYJ.themed-OHr7kt {
  color: var(--darkplus-sec);
}

.homeIcon-FuNwkv path {
  fill: transparent;
}
.homeIcon-FuNwkv {
  background: var(--darkplus-home-icon)
    center/contain no-repeat;
  min-width: 50px;
  min-height: 50px;
}

.anchor-3Z-8Bb.anchorUnderlineOnHover-2ESHQB {
  color: var(--darkplus-links);
}
.grid-1nZz7S {
  background-color: var(--darkplus-bg2);
}

.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
  background-color: var(--darkplus-bg2);
  display: inline-block;
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  border-radius: 15px;
}

.avatar-1BDn8e.clickable-1bVtEA {
  filter: drop-shadow(0 0 3px);
  color: var(--darkplus-sec);
}
.avatar-1BDn8e:hover.clickable-1bVtEA:hover {
  filter: drop-shadow(0 0 8px);
  color: var(--darkplus-sec);
  transform: scale(1.2) rotate(360deg);
  transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease;
}


.membersWrap-2h-GB4 {
  min-width: unset;
}
.membersWrap-2h-GB4 .members-1998pB {
  max-width: 65px;
  min-width: 65px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.membersWrap-2h-GB4 .members-1998pB:hover {
  max-width: 240px;
  min-width: 240px;
}
.membersWrap-2h-GB4 .members-1998pB .content-3YMskv:not(:hover) {
  padding-top: 10px;
  background-color: var(--darkplus-bg);
}

.membersGroup-v9BXpm {
  margin-left: 60px;
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}

.members-1998pB, .members-1998pB>div {
  background-color: var(--darkplus-bg);
}


.container-3baos1 {
  height: 85px;
}
.container-3baos1 .avatarWrapper-2yR4wp {
  position: absolute;
  bottom: 45px;
}
.container-3baos1 .nameTag-3uD-yy {
  position: absolute;
  bottom: 45px;
  left: 50px;
}
.container-3baos1 > .noWrap-3jynv6 {
  width: 224px;
  bottom: 5px;
  position: absolute;
}
.container-3baos1 > .noWrap-3jynv6 button {
  width: 100%;
  justify-content: space-evenly;
}

.layers-3iHuyZ .layer-3QrUeG[style*="scale(0)"]:first-of-type,
.baseLayer-35bLyl {
  transform: none !important;
}
.layers-3iHuyZ .layer-3QrUeG:first-of-type[aria-hidden="true"] {
  transform: none !important;
  opacity: 1 !important;
  filter: brightness(0.25);
  pointer-events: none !important;
  transition: 100ms;
}

.sidebarRegionScroller-3MXcoP {
  background-color: var(--darkplus-bg);
}

.contentRegion-3nDuYy {
  background-color: var(--darkplus-bg);
}
.contentRegion-3nDuYy .contentRegionScroller-26nc1e {
  background-color: transparent;
}

.background-1QDuV2 {
  padding: 0;
  background-color: var(--darkplus-bg2);
  border-radius: 30px;
}
.background-1QDuV2 .profile-1eT9hT {
  padding: 16px;
}
.background-1QDuV2 .fieldList-21DyL8 {
  padding: 16px;
  background-color: transparent;
}
.background-1QDuV2 .constrainedRow-2GB6Ki .button-38aScr {
  margin-left: 8px;
}
.layer-3QrUeG {
  background-color: var(--darkplus-bg);
}
.item-PXvHYJ.themed-OHr7kt {
  color: var(--darkplus-sec);
}
.header-2RyJ0Y {
  color: var(--darkplus-sec);
}
.theme-dark .foreground-26ym5y {
  fill: var(--darkplus-sec);
}
.theme-dark .bd-social-logo path {
  fill: var(--darkplus-sec);
}
.feature-2w65J5 {
  background-color: var(--darkplus-bg2) !important;
}
.theme-dark .closeButton-1tv5uR {
  border-color: var(--darkplus-sec);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
  color: var(--darkplus-bg);
  background-color: var(--darkplus-sec);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
  background-color: var(--darkplus-links);
}
.defaultColor-1_ajX0 {
  color: var(--darkplus-sec);
}
.menu-319q29 {
  margin-right: 16px;
  color: var(--darkplus-sec);
  cursor: pointer;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
  color: var(--darkplus-bg);
  background-color: var(--darkplus-sec);
}
.description-3_Ncsb,
.labelDescriptor-1PqHgD {
  color: var(--darkplus-links);
}
.h5-18_1nd {
  color: var(--darkplus-sec);
}
.lookFilled-1Gx00P.colorRed-1TFJan {
  color: var(--darkplus-bg);
}
.lookLink-9FtZy-.colorLink-35jkBc {
  color: var(--darkplus-links);
}
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
  color: var(--darkplus-sec);
}
.title-31JmR4 {
  color: var(--darkplus-sec);
}
.unread-2lAfLh {
  background-color: var(--darkplus-sec);
}
.overflow-WK9Ogt {
  color: var(--darkplus-links);
}
.arrow-gKvcEx.icon-2yIBmh {
  color: var(--darkplus-sec);
}
.jumpToPresentBar-G1R9s6 {
  background-color: var(--darkplus-sec);
  border-radius: 20px;
}
.barButtonBase-2uLO1z {
  color: var(--darkplus-bg);
}
.numberBadge-2s8kKX {
  background-color: var(--darkplus-sec) !important;
  color: var(--darkplus-bg);
}
.item-2hkk8m {
  background-color: var(--darkplus-sec);
}
.container-1giJp5 {
  background-color: var(--darkplus-bg);
}
.button-1YfofB.buttonColor-7qQbGO,
.button-1YfofB .buttonColor-7qQbGO {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.subtext-3CDbHg {
  color: var(--darkplus-links);
}
.addButtonIcon-2CbG1X {
  color: var(--darkplus-sec);
}
.addButtonIcon-2CbG1X:hover {
  color: var(--darkplus-links);
}
.header-4zuFdR {
  background-color: var(--darkplus-bg);
}
.activity-2M3PRB {
  background-color: var(--darkplus-bg);
}
.infoScroller-1Qu30O.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
  background-color: var(--darkplus-bg2);
}
.activityHeader-2shpl0 {
  color: var(--darkplus-sec);
}
.circleIconButton-1QV--U {
  color: var(--darkplus-sec);
  background-color: var(--darkplus-bg2);
}
.circleIconButton-1QV--U.selected-1JjBPm {
  color: var(--darkplus-bg2);
  background-color: var(--darkplus-sec);
}
.tabBar-3nvOPa {
  background-color: var(--darkplus-bg);
}
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ,
.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active {
  border-bottom-color: var(--darkplus-sec);
}
.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:hover {
  border-bottom-color: var(--darkplus-links);
}
.additionalActionsIcon-365LnQ {
  color: var(--darkplus-sec);
}
.colorDefault-2K3EoJ.focused-3afm-j {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.newMessagesBar-265mhP {
  background-color: var(--darkplus-sec);
}
.unreadPill-2HyYtt {
  background-color: var(--darkplus-sec);
}
#app-mount .divider-JfaTT5.isUnread-3Ef-o9 {
  border-top: 1px solid var(--darkplus-sec);
}
.unreadPillCapStroke-7rkHbg {
  color: var(--darkplus-sec);
  fill: var(--darkplus-sec);
}
.label-22pbtT {
  color: var(--darkplus-sec);
}
#permissions-modal-wrapper #permissions-modal {
  height: 80%;
}
#permissions-modal-wrapper .modal-body .perm-side {
  width: 400px;
}
#permissions-modal-wrapper .perm-scroller .perm-item {
  height: unset;
}
#permissions-modal-wrapper .perm-scroller {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(auto-fill, calc(100% / 17));
}
#permissions-modal-wrapper .perm-scroller .perm-name {
  margin-left: 5px;
}
#permissions-modal-wrapper .perm-scroller svg {
  height: 20px !important;
  width: 20px !important;
}

#permissions-modal-wrapper .header {
  background: var(--darkplus-bg) !important;
}
#permissions-modal-wrapper .role-side {
  background: var(--darkplus-bg) !important;
}
#permissions-modal-wrapper .perm-side {
  background: var(--darkplus-bg) !important;
}
#permissions-modal-wrapper .perm-scroller .perm-name {
  color: var(--darkplus-sec);
}
.title {
  color: var(--darkplus-sec);
}
.editingContainer-1iOrsV,
.modalContent-nFuWe- {
  background-color: var(--darkplus-bg);
}
.header-1TKi98 {
  background-color: var(--darkplus-bg);
}
.theme-dark .footer-2gL1pp {
  background-color: var(--darkplus-bg);
}
.icon-1BtL8T {
  color: var(--darkplus-sec);
}
.grabber-3mFHz2 {
  background-color: var(--darkplus-sec);
  border: var(--darkplus-sec);
}
.avatarUploaderIndicator-2G-aIZ {
  display: none;
}
.item-3HknzM[aria-label="Add Friend"] {
  color: var(--darkplus-bg) !important;
  background-color: var(--darkplus-sec) !important;
}
.addInputWrapper-1BOZ3d {
  background-color: var(--darkplus-bg);
}
.colorStandard-2KCXvj {
  color: black;
}
.wrapper-1cBijl {
  background-color: var(--darkplus-bg2);
}
.addFriendInput-4bcerK::placeholder {
  color: var(--darkplus-sec);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
  background-color: var(--darkplus-links);
}
.header-1-dBpZ {
  color: var(--darkplus-sec);
}
.description-1EvxpH {
  color: var(--darkplus-links);
}
.friendsEmpty-1K9B4k {
  background-color: var(--darkplus-bg);
}
.button-Jt-tIg {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg);
  font-weight: bold;
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: var(--darkplus-links);
  color: var(--darkplus-bg);
}
#bd-pub-button {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg);
  font-weight: bold;
}
#bd-pub-button:hover {
  background-color: var(--darkplus-links);
  color: var(--darkplus-bg);
  font-weight: bold;
}
.iconBadge-3qSJIw {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg);
}
.label-2wRs_g {
  color: var(--darkplus-sec);
}
.quickswitcher-3JagVE {
  background-color: var(--darkplus-bg);
}
.input-2VB9rf {
  background-color: var(--darkplus-bg2);
}
.input-2VB9rf::placeholder {
  color: var(--darkplus-sec);
}
.header-13MUnb {
  color: var(--darkplus-sec);
}
.match-38WbBN {
  color: var(--darkplus-sec);
}
.note-S--UP5 {
  color: var(--darkplus-links);
}
.miscContainer-2ptJ_C {
  color: var(--darkplus-links);
}
.theme-dark .wrapper-3WhCwL {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg);
}
.container-1CE3eW {
  background-color: var(--darkplus-bg);
  border-color: var(--darkplus-bg);
}
.container-UC8Ug1 {
  background-color: var(--darkplus-sec);
}
.container-UC8Ug1:hover {
  background-color: var(--darkplus-links);
}
.colorStandard-2KCXvj {
  color: var(--darkplus-bg);
}
.title-3w8xhj {
  color: var(--darkplus-sec);
}
.subtitle-Nw1LLR {
  color: var(--darkplus-links);
}
.footerTitle-2CYZch {
  color: var(--darkplus-sec);
}
.title-XLSR78 {
  color: var(--darkplus-sec);
}
.colorHeaderSecondary-3Sp3Ft {
  color: var(--darkplus-links);
}
.formTitle-aeXUoN {
  color: var(--darkplus-sec);
}
.sampleLink-2NLvZg {
  color: var(--darkplus-links);
}
.input-cIJ7To {
  background-color: var(--darkplus-bg2);
}
.input-cIJ7To::placeholder {
  color: var(--darkplus-sec);
}
.thin-1ybCId.scrollerBase-289Jih {
  background-color: var(--darkplus-bg);
}
.avatar-3uk_u9 {
  color: var(--darkplus-sec);
}
.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
  background-color: var(--darkplus-bg2);
}
.base-1x0h_U {
  color: var(--darkplus-sec);
}
.scroller-1d5FgU {
  background-color: var(--darkplus-bg);
}
.guildName-1yURO5 {
  color: var(--darkplus-sec);
}
.searchTitle-36D1cB {
  color: var(--darkplus-bg);
}
.searchBox-3Y2Vi7.searchBox-2_mAlO {
  background-color: var(--darkplus-sec);
}
.search-1iTphC .searchBox-2_mAlO .searchIcon-6ljH-4 {
  color: var(--darkplus-bg);
}
.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng::placeholder {
  color: var(--darkplus-bg);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  background-color: var(--darkplus-links);
}
.theme-dark .uploadModal-2ifh8j {
  background-color: var(--darkplus-bg);
}
.theme-dark .footer-3mqk7D {
  background-color: var(--darkplus-bg);
}
.size14-e6ZScH {
  color: var(--darkplus-sec);
}
.filename-ovv3c5 {
  color: var(--darkplus-sec);
}
.scrollableContainer-2NUZem {
  background-color: var(--darkplus-bg2);
}
.label-3aiqT2 {
  color: var(--darkplus-sec);
}
.optional--ezibr {
  color: var(--darkplus-links);
}
button[aria-label="Send a gift"] {
  display: none;
}

.typeWindows-1za-n7 {
  position: relative;
}
.wordmark-2iDDfm {
  display: flex;
  align-items: center;
  padding: 0 6px;
  height: calc(100% + 4px);
  top: -4px;
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  font-family: "Lato";
  color: var(--darkplus-sec);
}
.wordmark-2iDDfm > svg {
  display: none;
}
.wordmark-2iDDfm:after {
  content: "Made by JINXZ :)";
}

.channelName-2YrOjO,
.subtitle-3V1p2E {
  color: var(--darkplus-sec);
}

.navButtonActive-1MkytQ {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.navButton-2gQCx- {
  color: var(--darkplus-sec);
}
.navButton-2gQCx-:hover {
  color: var(--darkplus-links);
}
.colorStandard-2KCXvj {
  color: var(--darkplus-sec);
}
.unicodeShortcut-15J8Ck {
  color: var(--darkplus-sec);
}
.unicodeShortcut-15J8Ck:hover {
  color: var(--darkplus-links);
}
.categoryIcon-1SvUHG {
  color: var(--darkplus-sec);
}
.header-19cWci {
  color: var(--darkplus-sec);
}
.iconBadge-3qSJIw.participating-1NvRVd {
  background-color: var(--darkplus-sec);
}
.botTagRegular-2HEhHi {
  color: var(--darkplus-sec);
  background-color: #302f2f;
}

.field-1HUseB > div > div > div {
  filter: blur(5px);
}
.field-1HUseB > div > div > div:hover {
  filter: blur(0);
}

.messageGroupWrapper-o-Zw7G .messageGroupCozy-2iY6cT {
  background-color: var(--darkplus-bg2);
}

.premiumContainer-2Iux5m {
  background-color: var(--darkplus-bg);
}
.scroller-9moviB {
  background-color: var(--darkplus-bg);
}
.sectionDescription-3uMpPK {
  color: var(--darkplus-sec);
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
  background-color: var(--darkplus-bg2);
}
.marketingRefreshTier1Logo-sY6Lgd {
  color: var(--darkplus-sec);
}
.marketingRefreshDescription-UL0ZTA {
  color: var(--darkplus-sec);
}
.perksModalContentWrapper-2HU6uL {
  background-color: var(--darkplus-bg);
}

.resultsGroup-r_nuzN {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}

.tab-2j5AEF.selected-2LAck8 {
  color: var(--darkplus-sec);
}
.queryContainer-EKFJW- {
  background-color: var(--darkplus-bg);
}

.animatedContainer-1NSq4T,
.content-3YMskv [style="height: 84px;"],
.bannerImage-3KhIJ6 {
  display: none;
}
.hasBanner-2SrLR3 .header-2V-4Sw,
.hasBanner-2SrLR3 .header-2V-4Sw:hover {
  color: var(--header-primary);
  box-shadow: var(--elevation-low);
}
.iconTierOne-s_oiRb,
.iconTierTwo-1JOWNK {
  color: var(--darkplus-bg);
}
.iconCaret-291Y5V {
  color: var(--darkplus-sec);
}
.pageButton-2ruNwd {
  color: var(--darkplus-sec);
}

.theme-dark .activeButton-rvKcqq, .theme-dark .activeButton-rvKcqq:hover, .theme-light .activeButton-rvKcqq, .theme-light .activeButton-rvKcqq:hover {
  color: var(--darkplus-bg);
  background-color: var(--darkplus-sec);
}

.hasBanner-2SrLR3 .header-2V-4Sw, .hasBanner-2SrLR3 .header-2V-4Sw:hover {
  background-color: var(--darkplus-bg);
}

.replyBar-1YLQ2F {
  background-color: var(--darkplus-bg);
}
.closeIcon-HLoKft {
  color: var(--darkplus-sec);
}
.colorHeaderSecondary-3Sp3Ft {
  color: var(--darkplus-bg);
}

.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
  background-color: var(--darkplus-bg2)
}
.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
  color: var(--darkplus-sec);
}
.messages-3G3erD {
  background-color: var(--darkplus-bg2);
}
.channelHeader-3Gd2xq {
  background-color: var(--darkplus-bg2);
}
.tertiary-aMXF0g {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.tertiary-aMXF0g:hover:not(.disabled-3Njyym) {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.tutorialIcon-3f1miQ {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.secondary-dIudih {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.secondary-dIudih:hover:not(.disabled-3Njyym) {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.messageContainer-gbhlwo {
  background-color: var(--darkplus-bg2);
}
.wrapper-3vR61M {
  background-color: var(--darkplus-bg);
}
.scroller-1Bvpku {
  background-color: var(--darkplus-bg) !important;
}
.tab-2j5AEF {
  color: var(--darkplus-sec);
}
.theme-dark .tab-2j5AEF.selected-2LAck8 {
  background-color: var(--darkplus-bg2)
}
.message-1Ng5AR {
  background-color: var(--darkplus-bg2)
}
.section-2gLsgF {
  color: var(--darkplus-links)
}
.colorStandard-2KCXvj {
  color: var(--darkplus-bg);
}
.backButton-iA7KIs {
  color: var(--darkplus-sec);
}

.skip-2o6MGG {
  color: var(--darkplus-sec);
}
.grow-q77ONN, .sizeIcon-1-kvKI {
  color: var(--darkplus-sec);
}
.input-cIJ7To {
  color: var(--darkplus-sec);
}
.subtitle-1KdHaN {
  color: var(--darkplus-sec);
}
.size14-e6ZScH {
  color: var(--darkplus-sec);
}
.activity-2INFPu {
  background-color: var(--darkplus-bg);
}
.rolesList-1geHY1 {
  background-color: var(--darkplus-bg);
}
.base-1x0h_U.muted-3-7c5L {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.body-3HBlXn {
  background-color: var(--darkplus-bg);
}
.theme-dark .root-1gCeng {
  background-color: var(--darkplus-bg);
}
.size12-3cLvbJ {
  color: var(--darkplus-sec);
}
.customStatus-3tC2ig {
  color: var(--darkplus-sec);
  width: 120px;
}
.icons-2E-yxr {
  color: var(--darkplus-sec);
}
.selectedIcon-3uS11H {
  color: var(--darkplus-sec);
}
.card-2Mz_4z {
  background-color: var(--darkplus-bg2);
}
.radioBar-bMNUI- {
  background-color: var(--darkplus-bg2);
}
.channelInfo-2OWB9j {
  color: var(--darkplus-sec);
}
.channelIcon-2xPHJh {
  color: var(--darkplus-sec);
}
.radioIconForeground-XwlXQN {
  color: var(--darkplus-sec);
}
.selectedIcon-DE5J2w {
  color: var(--darkplus-sec);
}
.ellipsisText-2EszCb {
  color: var(--darkplus-sec);
}
.selectorButtonSelected-t5V9On {
  background-color: var(--darkplus-bg);
}
.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover {
  background-color: var(--darkplus-bg);
}

.textContent-3N7xXx {
  color: var(--darkplus-bg);
}
.cozy-12kSNU.wrapper-1F5TKx {
  background-color: var(--darkplus-bg);
}
.content-1o0f9g {
  background-color: transparent;
  color: var(--darkplus-sec);
}

.acronym-2mOFsV {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.expandedFolderBackground-1cujaW {
  background-color: var(--darkplus-bg2);
}
.contentWrapper-SvZHNd {
  background-color: var(--darkplus-bg);
}
.header-ywPcAE {
  background-color: var(--darkplus-bg);
}
.titlePrimary-1jHRGm, .titleSecondary-3Dh_RZ {
  color: var(--darkplus-sec);
}
.inspector-3LQtX9 {
  background-color: var(--darkplus-bg);
}
.icon-3jQD8H {
  color: var(--darkplus-sec);
}
.bodyInnerWrapper-26fQXj {
  background-color: var(--darkplus-bg);
}
.footer-3UKYOU {
  background-color: var(--darkplus-bg);
}
.headerTopWithCustomStatus-1DHAjX {
  background-color: var(--darkplus-bg);
}
.headerTop-3vNv-a {
  background-color: var(--darkplus-bg);
}
.memberCountContainer-1BJFU2 {
  color: var(--darkplus-sec);
}
.icon-1S6UIr {
  color: var(--darkplus-sec);
}
.input-3Xdcic::placeholder {
  color: var(--darkplus-sec);
}
.emptyRoles-23F3oy {
  color: var(--darkplus-sec);
}
.emptyRolesText-gurxgN {
  color: var(--darkplus-sec);
}
.icon-3_8HGa {
  color: var(--darkplus-sec);
}
.label-2gpUAV {
  color: var(--darkplus-sec);
}
.arrow-2aE8q8 {
  color: var(--darkplus-sec);
}
.icon-3CsuzN {
  color: var(--darkplus-sec);
}

.tierLock-3nsR0q {
  color: var(--darkplus-sec);
}
.tierRequirement-UAxC-l {
  color: var(--darkplus-sec);
}
.size16-1P40sf {
  color: var(--darkplus-sec);
}
.theme-dark .tierBody-3aUxuc {
  background-color: var(--darkplus-bg2);
}
.wrapper-18yWki {
  background-color: var(--darkplus-bg2);
}

.emptyTierImage-UTgz1t {
  color: var(--darkplus-sec);
}

.emptyTierImage-UTgz1t, .unlockTierCtaHeading-3Q9aZn {
  color: var(--darkplus-sec);
}

.css-19bqh2r{
  color: var(--darkplus-sec);
}
.theme-dark .option-96V44q:after {
  background: transparent;
}

.textContent-3N7xXx {
  color: var(--darkplus-bg);
}

.categoryItemDefaultCategorySelected-_HCKoz .categoryIcon-1SvUHG, .categoryItemDefaultCategorySelected-_HCKoz:hover .categoryIcon-1SvUHG, .categoryItemDefaultCategory-aBZ6nJ:hover .categoryIcon-1SvUHG {
  color: var(--darkplus-sec);
}

.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
  border-color: var(--darkplus-sec);
  color: var(--darkplus-sec);
  border-radius: 25px;
}

.css-4h5swf-singleValue {
  color: var(--darkplus-sec);
}

.theme-dark .message-2qRu38 {
  background-color: var(--darkplus-bg2);
}

.keybindShortcut-1BD6Z1 span {
  background-color: var(--darkplus-sec);
  border: var(--darkplus-sec);
}

.bottomInformationTextContainer-2lvA_a, .stickerResults-3HacYG {
  background-color: var(--darkplus-bg2);
}

.avatar-AvHqJA {
  margin-left: 200px;
}

.badgeList-1R1WgZ {
  margin-left: -150px;
}

.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-, .theme-dark .searchOption-zQ-1l6 .answer-1n6g43, .resultsGroup-r_nuzN .header-2N-gMV {
  color: var(--darkplus-sec);
}

.text-1FOLJS {
  color: var(--darkplus-bg);
}

.overflowMenuIcon-1h7e8s {
  color: var(--darkplus-sec);
}

.username-2b1r56, .discriminator-2C3qJO, .headerTagDiscriminatorNoNickname-D-AYUN {
  color: var(--darkplus-sec);
}



::-webkit-scrollbar-thumb {
  background-color: var(--darkplus-sec) !important;
}
::selection {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-links);
}
